<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ashik Ibrahim S" />
    <title>Footer</title>
  </head>
  <body>
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <div class="container text-center">
        <span id="copyright" class="mb-3 mb-md-0 text-body-secondary"></span>
      </div>
    </footer>
    <script>
      var currentTime = new Date();
      var year = currentTime.getFullYear();
      document.getElementById("copyright").textContent =
        "\u00A9 " + year + " PersBlog. All rights reserved.";
    </script>
  </body>
</html>
